@import  '../variables.scss';

.form_control {
	width: 100%;
}

.icon_wrapper {
	display: flex;
	/* border: 1px solid red; */
	margin: 10px;
	cursor: pointer;
}

.icon_wrapper:hover {
	color: $theme-yellow;
}
