.email_container {
	display: block;
	width: 77vw;
	justify-content: space-between;
	margin-left: 0.5rem;
}

.menu_container {
	width: 214px;
	background: #1f1f1f;
	display: inline-block;
	font-weight: bold;
	flex-direction: column;
	margin: auto;
	text-align: center;
}

.content_container {
	display: inline-block;
	width: 70.7vmax;
	height: 70vh;
	background: #1f1f1f;
	margin-left: 0.5rem;
}

.Menu {
	width: 100%;
	font-size: large;
	color: #94a0ad;
    display: block;
}

.Link {
	display: block;
}

.Name {
	margin-left: 1rem;
	text-transform: uppercase;
	&:hover {
		color: #fca320;
	}
}

span .Center:hover {
		color: #fca320;
}

.Active {
		color: #fca320;
}

.Inactive {
		color: #8d8d8d;
}

.Inline i {
	color: #fca320;
}

.Inline a:hover,
.MenuItem a:hover {
	color: #fca320;
}

.Inline,
.MenuItem {
	font-size: large;
	cursor: pointer;
	margin: 2.8rem 0;
}

.MenuItem {
	margin: auto;
	cursor: pointer;
}

.Inline {
	display: block;
	cursor: pointer;
}

