.Navs {
  display: block;
  width: 200px;
}

.Navs1 {
  display: block;
  width: 400px;
}

.Navs1:hover,
.Navs:hover {
  color: $theme-yellow;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm:focus {
  color: $theme-yellow;
  background-color: $text-lighter;
}
.searchButton {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 25px;
  height: 60px;
  text-align: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 26px;
}

.searchButton i {
  color: $theme-yellow;
}

.searchButton i:hover {
  color: $theme-orange;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.icon_indicator {
  background-color: $theme-yellow;
  border-radius: 20px;
  width: 15px;
  height: 10px;
  z-index: 3;
  transform: translate(-16px, 10px);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
