@import  '../variables.scss';

.conversations_container {
	width: 22vw;
	background: $bg-dark;
	display: inline-block;
	font-weight: bold;
	flex-direction: column;
	margin: auto;
	height: 97.8vh;
	justify-content: space-between;
	padding: 0.5rem;
	z-index: 2;
	overflow: hidden;
	clear: both;
}

.content_container {
	display: inline-block;
	width: 55vw;
	height: 96.5vh;
	background: $bg-dark;
	margin-left: 0.5rem;
	margin: auto;
	padding-left: 0.5rem;
}

.conversations_list {
	display: block;
	position: fixed;
	width: 21vw;
	height: 86vh;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 3;
	-ms-overflow-style: none;
	scrollbar-width: none;
	// background-color: #010101;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.conversations_list::-webkit-scrollbar {
	display: none;
}

.conversation_container {
	display: inline-flex;
	margin-bottom: 1.8rem;
	width: max-content;
	width: 20vw;
	align-items: start;
	justify-content: baseline;
}

.Menu {
	width: 100%;
	font-size: large;
	color: $text-greyer;
	display: block;
}

.Link {
	display: block;
}

.searchBox {
	display: block;
	margin: 1rem;
}

.searchBox input {
	width: 20vw;
	font-weight: bold;
	line-height: 2.5rem;
	padding-left: 4rem;
	border-radius: 30px;
	background-color: $bg-gray;
	color: $text-color;
	font-size: large;
	border: 0;
	position: relative;
}

.searchBox span {
	position: absolute;
	z-index: 10;
	font-size: 16px;
	line-height: calc(1.5em + .9rem + 2px);
	color: $text-light;
	transform: translate(30px, -38px);
}

.header_container {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem;
}

.message,
.profile {
	display: flex;
	flex-direction: row;
	margin-right: 0.5rem;
	padding-left: 1rem;
}

.MessageInfo,
.UserInfo {
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
}

.MessageInfo {
	width: 18.9vw;
}

.NameTime {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0.5rem;
}

.UserName {
	font-weight: bold;
	color: $text-greyest;
	font-size: large;
}

.StatusContainer {
	display: flex;
	flex-direction: row;
}

.UserStatus {
	font-weight: normal;
	font-size: medium;
}

.Status {
	display: block;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	background-color: $bg-green;
	transform: translate(10%, 60%);
	margin-right: 5px;
}

.Settings {
	font-size: x-large;
	margin-right: 0.5rem;
}

.title {
	text-transform: uppercase;
}

.StatusContainer {
	margin-left: 0.5rem;
}
