@import "../variables.scss";

.conversations_container {
  width: 16vw;
  background: $bg-dark;
  display: block;
  font-weight: bold;
  flex-direction: column;
  margin: 0 0.15rem 0 0.5rem;
  height: 98vh;
  justify-content: space-between;

  .message {
    .MessageInfo {
      width: 100%;

      .NameTime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0.5rem;
        color: $text-greyer;

        .UserName {
          font-weight: bold;
          // color: $text-greyest;
          font-size: large;
        }

        .Time {
          position: absolute;
          right: 0.5rem;
        }
      }
    }
  }
}

.content_container {
  display: inline-flex;
  width: 64%;
  height: 98vh;
  background: $bg-dark;
  margin: 0 0.25rem;
  padding-left: 0.5rem;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 2;
  // background: $theme-orange;
}

.conversations_list {
  display: block;
  position: fixed;
  width: 16vw;
  height: 86vh;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 3;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.conversation_container {
  display: inline-block;
  margin-bottom: 1.8rem;
  width:16vw;
  padding: 0.3rem;
  align-items: flex-start;
}

.ActiveConversation {
  background-color: $bg-gray;
  // padding: 0 1rem;
}

.Menu {
  width: 100%;
  font-size: large;
  color: $text-greyer;
  display: block;
}

.Link {
  display: block;
}

.searchBox {
  display: block;
  margin: 1rem;
  color: $text-greyer;

  input {
    width: 15vw;
    font-weight: 500;
    line-height: 2.5rem;
    border-radius: 30px;
    background-color: $bg-gray;
    text-align: center;
    font-size: large;
    border: 0;
    position: relative;

    &::placeholder {
      color: $text-grey;
    }

    &::selection,
    &:focus {
      outline: 1px solid $text-lighter;
    }
  }

  .SearchIcon {
    svg {
      z-index: 10;
      font-size: 25px;
      color: $text-grey;
      transform: translate(30px, -30px);
    }
  }
}

.message {
  display: flex;
  flex-direction: row;
  margin-right: 0.5rem;
  padding-left: 1rem;
  color: $text-grey;
}

.MessageInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.StatusContainer {
  display: flex;
  flex-direction: row;
}

.title {
  margin: 1.3rem;
  text-transform: uppercase;
}

.StatusContainer {
  margin-left: 0.5rem;
}

.NoConvo {
  margin: 1rem;
}

.messages_wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 98%;
  flex-direction: row;
  overflow: hidden;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content_container::-webkit-scrollbar,
.conversations_list::-webkit-scrollbar,
.messages_wrapper::-webkit-scrollbar {
  display: none;
}