.navigation_container {
	display: flex;
	margin: auto;
	height: 85%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	font-weight: bold;
}

.Name {
	margin-left: 1rem;
	text-transform: uppercase;
}

.Logout .fas:hover,
.Name:hover {
	color: #fca320;
}

.Inline i {
	color: #fca320;
}

.Inline .MenuItem:active {
	color: #fca320;
}

.Inline,
.MenuItem {
	font-size: large;
	cursor: pointer;
	margin: 2.8rem 0;
}

.MenuItem {
	margin: auto;
	cursor: pointer;
}

.Inline {
	display: block;
	cursor: pointer;
}

