@import "../variables.scss";

.navigation_container {
  display: flex;
  margin: auto;
  height: 84%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.Name {
  margin-left: 0.5rem;
  text-transform: uppercase;

  &:hover {
    color: $theme-yellow;
  }
}

span .Menu:hover {
  color: $theme-yellow;
}

.Active {
  color: $theme-yellow;
}

.Inactive {
  color: $text-lighter;
}

.SubInline i,
.Inline i {
  color: $theme-yellow;
}

.Inline a:hover,
.MenuItem:hover,
.MenuItem a:hover {
  color: $theme-yellow;
}

.Inline,
.MenuItem {
  font-size: large;
  cursor: pointer;
  margin: 0.8rem 0;
}

.MenuItem {
  margin: auto;
  cursor: pointer;
}

.Inline {
  display: flex;
  cursor: pointer;
  flex-direction: row;

  svg {
  color: $theme-yellow !important;
  }
}

.Menu {
  width:80%;
  text-transform: uppercase;
}

.SubMenu {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  .SubInline {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .Row {
      display: flex;
      flex-direction: row;
      // color: $theme-yellow !important;
    }
  }

  .SubChildren {
    display: flex;
    width: 95%;
    flex-direction: row;
    font-size: large;
    cursor: pointer;
    margin: 0.8rem 1rem;

    &.Shown {
      display: flex;
    }

    &.Hidden {
      display: none;
      height: 0;
    }
  }
}
