@import "../variables.scss";

.navigation_container {
  display: flex;
  margin: auto;
  height: 84%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;

  &:hover {
    color: $bg-darker;
  }
}

.Name {
  margin-left: 0.5rem;
  text-transform: uppercase;

  &:hover {
    color: $theme-yellow;
  }
}

span .Menu:hover {
  color: $theme-yellow;
}

.Active {
  color: $theme-yellow;
}

.Inactive {
  color: $text-lighter;
}

.SubInline i,
.Inline i {
  color: $theme-yellow;
}

.Inline a:hover,
.MenuItem:hover,
.MenuItem a:hover {
  color: $theme-yellow;
}

.Inline,
.MenuItem {
  font-size: large;
  cursor: pointer;
  margin: 0.8rem 0;
}

.MenuItem {
  margin: auto;
  cursor: pointer;
}

.Inline {
  display: block;
  cursor: pointer;
}

.Menu {
  width: 70%;
  text-transform: uppercase;
}

.SubMenu {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  .SubInline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .SubChildren {
    font-size: large;
    cursor: pointer;
    margin: 0.8rem 1.5rem;

    &.Shown {
      display: flex;
    }

    i {
      color: $theme-yellow;
    }

    &.Hidden {
      display: none;
      height: 0;
    }
  }
}