.progress_container {
	display: flex;
	height: 155px;
	width: 155px;
	background: #2c2f33;
	box-shadow: inset -16.5697px -16.5697px 41.4243px #3b4451, inset 16.5697px 16.5697px 41.4243px #000000;
	border-radius: 50%;
	z-index: 4;
	margin: auto;
	margin-top: -1.5rem;
}

.ellipse {
	display: flex;
	margin: auto;
	width: 125px;
	height: 125px;
	background: linear-gradient(180deg, #f24e1e 68.69%, #fca320 100%);
	border-radius: 50%;
}

.outer_circle {
	display: flex;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 4;
	width: 97px;
	height: 97px;
	background: #2c2f33;
	box-shadow: 16.5697px 16.5697px 41.4243px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.inner_circle {
	display: flex;
	margin: auto;
	z-index: 4;
	width: 75px;
	height: 75px;
	background: #2c2f33;
	box-shadow: inset -16.5697px -16.5697px 41.4243px rgba(59, 68, 81, 0.5),
		inset 16.5697px 16.5697px 41.4243px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.progress_percent {
	font-weight: bold;
	color: #777;
	margin: auto;
	font-size: 25px;
	z-index: 5;
}


