@import  '../variables.scss';

.projects_container {
	display: block;
	color: $text-lighter;
	width: 78vw;
	height: 100%;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	/* background: #1f1f1f; */
	/* margin: 0.5rem; */
	/* border: 1px solid #8d8d8d80; */
}


.grid {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 0.5rem;
	width: 100%;
	/* padding: 0.5rem; */
	/* max-width: 800px; */
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.project_container {
	display: block;
	width: 12.6vw;
	height: 480px;
	padding: 5px;
	background: $bg-secondary;
	/* background-color: #f1bd89; */
	/* background-color: #fffdd0; */
	color: $text-darker;
	border-radius: 10px;
	text-align: left;
	/* box-shadow: 6px 6px 17px #1d1b1c, -6px -6px 17px #141414; */
	/* box-shadow: 8px 8px 4px #1c1c1c, -8px -8px 4px #222222; */
	
	box-shadow: -7px -7px 19px 0px $box-shadow-yellow;
	/* border: 1px solid #8d8d8d80; */
}

.project_img {
	display: flex;
	width: 100%;
	max-height: 55px;
	margin: 0 auto;
	object-fit: contain;
	/* background-color: #fca32030; */
}

.heading {
	margin: 10px;
	color: $text-lighter;
	font-size: large;
}

.teammate {
	display: flex;
	margin: auto;
	flex-direction: column;
	text-align: center;
}

.name {
	margin: 7px 0;
	color: $text-grey;
	font-size: large;
}

.jobTitle {
	overflow: hidden;
	font-size: smaller;
	margin-bottom: 10px;
}

.between {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}