@import "../variables.scss";

.sidebar_container {
  background: $bg-dark !important;
  color: $text-dark;
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 11vw;
  border-radius: 40px 0 0 40px;
  clear: both;
  box-shadow: $box-shadow-sidebare;
}

.Logo {
  font-size: medium;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: $theme-orange;
  justify-content: space-between;
}

.Name {
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $theme-orange;
  font-size: large;
}

.MenuItem {
  margin: auto;
  cursor: pointer;
}

.Name:hover {
  color: $theme-yellow;
}

.Icon {
  font-size: 30px;
}

.Link {
  margin: auto;
  cursor: pointer;
}

.logo {
  height: 150px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.logo img {
  max-width: 100px;
}

.Logout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .Line {
    display: flex;

    .Inline {
      display: flex;
      cursor: pointer;
      flex-direction: row;
    }
  }
}