.sidebar_container {
	background: #1f1f1f;
	color: #8d8d8d99;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 10vw;
	border-radius: 40px 0 0 40px;
	clear: both;
}

.title {
	font-size: medium;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	color: #f24e1e;
	justify-content: space-between;
}

.Name {
	margin-left: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #f24e1e;
	font-size: larger;
}

.MenuItem {
	margin: auto;
	cursor: pointer;
}


.Name:hover {
	color: #FCA320;
}

.Icon {
	font-size: 30px;
}

.Line {
	margin-left: 3.5vw;
}

.Link {
	margin: auto;
	cursor: pointer;
}


.logo {
	height: 150px;
	width: 100%;
	object-fit: contain;
}

.logo img {
	max-width: 100px;
}