.avatar_container {
	display: flex;
    margin: auto;
	justify-content: center;
	align-items: center;
	background: #2c2f33;
	box-shadow: inset -12.446px -12.446px 31.1151px #fca320, inset 12.446px 12.446px 31.1151px #000000;
	border-radius: 50%;
}

.avatar {
	border-radius: 50%;
	display: flex;
}
