.container {
	display: flex;
}

.main {
	min-height: 100vh;
	/* padding: 4rem 0; */
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: larger;
	text-align: center;
}

.InlineRow {
	display: inline-flex;
	font-weight: bold;
	font-size: x-large;
	color: #8d8d8d;
}

.Navs,
.Navs1 {
	margin-top: 1.5rem;
}

.Navs {
	display: block;
	width: 200px;
}

.Navs1 {
	display: block;
	width: 400px;
}

.Navs1:hover,
.Navs:hover {
	color: #fca320;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}
.searchTerm {
	width: 100%;
	border: 3px solid #00b4cc;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
}
.searchTerm:focus {
	color: #fca320;
	background-color: #8d8d8d;
}
.searchButton {
	margin-top: 1.2rem;
	position: absolute;
	top: 0;
	left: 3rem;
	width: 25px;
	height: 60px;
	text-align: center;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 26px;
}

.searchButton i {
	color: #fca320;
}

.searchButton i:hover {
	color: #f24e1e;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
