.navigation_container {
	padding: 0 3vw;
    height: 80%;
}


.Name {
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}


.Inline,
.MenuItem {
	font-size: larger;
	cursor: pointer;
    margin: 3rem 0;
}


.MenuItem {
	margin: auto;
	cursor: pointer;
}

.Inline {
	display: block;
	cursor: pointer;
}



