.navigation_container {
	display: flex;
	margin: auto;
	height: 88%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.Name {
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.Logout .fas:hover,
.Name:hover {
	color: #FCA320;
}



.Inline,
.MenuItem {
	font-size: larger;
	cursor: pointer;
	margin: 3rem 0;
}

.MenuItem {
	margin: auto;
	cursor: pointer;
}

.Inline {
	display: block;
	cursor: pointer;
}
