$black-primary:  #010101;
$black-secondary:  #141414;
$black-dark: #1f1f1f;
$bg-gray: #303030;
$text-color: #aaa;
$text-dark: #8d8d8d99;
$theme-yellow: #fca320;
$theme-orange: #f24e1e;

$theme-font: "Poppins Semibold";

$box-shadow-yellow: #FCA3201A;