@import  '../variables.scss';

.LocationWrapper {
    display: block;
    margin: auto;
    margin-left: 0.5rem;
    text-align: center;
    width: 77vw;
    color: azure;
    background: $bg-dark;

    .CardWrapper {
        background: $bg-darker;
    }

    .TabList {
        font-weight: 600;

        [aria-selected="true"] {
            color: $theme-yellow;
        }
    }
}