@import '../variables.scss';

.LocationWrapper {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    color: $text-color;
    background: $bg-dark;

    .CardWrapper {
        background: $bg-darker;
    }

    .TabList {
        font-weight: 600;

        [aria-selected="true"] {
            color: $theme-yellow;
        }
    }
}