@import  '../variables.scss';

.messages_wrapper {
	display: flex;
	width: 77.5vw;
      height: 97vh;
	/* background: #f85656; */
	margin-left: 0.5rem;
    align-items: start;
    justify-content: space-between;
}
