@import '../variables.scss';

.GridWrapper {
    background-color: $bg-dark;
    margin: 0 0.5rem;
    width: 77vw;
    height: 100%;
}

.FormWrapper {
    background-color: $bg-dark;
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    margin: auto;

    select,
    input {
        background-color: #333;
        border: 1px solid #353444;
        border-radius: 5px;

        &:hover,
        &:focus,
        &::selection {
            background-color: #434343;
            border: 1px solid #444;
        }
    }
}