@import  '../variables.scss';

.UsersWrapper {
    display: block;
    margin: auto;
    margin-left: 0.5rem;
    text-align: center;
    width: 77vw;
    color: $text-color;
    background: $bg-dark;

    .SingleUser {
        background: $bg-darker;
    }
}