.navLinks {
  display: flex;
  width: 10%;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;

  .navLink {
    margin: 0 0.5rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
	z-index: 2;
  }
}
